.navbar-brand{
    justify-content: center;
    position:relative;
    left: 50%;
    /* margin-left: -50px !important; */
    text-align: center !important;
    display: block;
    
}

.nav-link-active{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar-toggler{
    position: absolute !important;
    right: 50px !important;
}

button.Migos{
    border:5px solid red !important;
    width: px;
   border-radius: 20px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
   background-color:black;
}